<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsivo.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="fontawesome-free-6.4.2-web/css/fontawesome.css">
    <title>Dashboard Empresa</title>
</head>
<style>
    /* Função modal */
    .modal {
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .containerModal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--tabelas);
        padding: 20px;
        border-radius: 30px;
        max-width: 400px;
        margin: auto;
    }

    .modalEditar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>

<body>
    <header>
        <a><img src="<%= user.imagemPerfil %>" alt="logo" id="perfil"></a>
        <span id="hamb"><i class="fa-solid fa-bars"></i></span>
        <nav>
            <ul>
                <li><a href="/agendamento" target="_self">Agendamento</a></li>
                <li><a id="logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 data-id-empresa="<%= user.id_empresa %>">
            <%= user.empresa %>
        </h1>
        <div class="notification-icon" id="notification-icon"><i class="fa-solid fa-bell"></i>0</div>
        <h1>Bem-vindo, <%= user.nome %>!</h1>
        <section class="agendamentos" id="empresa-section">

        </section>

    </main>

    <script>
        let totalAgendamentos = 0;
        window.addEventListener('DOMContentLoaded', async () => {
            const userId = await <%- user.id_empresa %>;
            const empresasSection = document.getElementById('empresa-section')
            const response = await fetch(`/agendamento/${userId}`);
            const agendamentos = await response.json();

            agendamentos.forEach((agendamento) => {
                const container = document.createElement('div');
                const nomeDiv = document.createElement('h2');
                const horaDiv = document.createElement('p');
                const dataDiv = document.createElement('p');
                const btnEditar = document.createElement('button')
                const btnRemover = document.createElement('button')

                nomeDiv.textContent = "Nome: " + agendamento.nome;
                horaDiv.textContent = "Hora: " + agendamento.hora;
                dataDiv.textContent = `Data: ${agendamento.dia}/${agendamento.mes}`;

                container.appendChild(nomeDiv);
                container.appendChild(horaDiv);
                container.appendChild(dataDiv);
                container.appendChild(btnEditar);
                container.appendChild(btnRemover);
                empresasSection.append(container);
                totalAgendamentos++;

                btnEditar.textContent = 'Editar'
                btnRemover.textContent = 'Deletar'
                btnRemover.style.backgroundColor = "#eb2020"
                if (agendamento.status_reserva === 1) {
                    //criar um card se aceita ou nao
                    container.style.backgroundColor = 'yellow'
                    container.addEventListener("click", () => {
                        const confirm = window.confirm("Você aceita a reserva ou não?")
                        console.info(confirm)
                        if (confirm === true) {
                            alert('ok')
                        } else {
                            fetch('/reserva/negada', {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ "idAgendamento": agendamento.id_agendamento })
                            })
                                .then(response => response.json())
                               
                                .then(data => {
                                    if (data){
                                    container.style.backgroundColor = ''
                                }
                                    console.log(data)
                                })
                                .catch(error => {
                                    console.error('Erro ao processar reserva negada:', error);
                                });
                        }
                    })
                }
                // Evento editar o agendamento
                btnEditar.addEventListener("click", () => {
                    const containerModal = document.createElement("div")
                    const modal = document.createElement("div")
                    const modalEditar = document.createElement("div")
                    const labelNome = document.createElement("label")
                    const labelData = document.createElement("label")
                    const labelHora = document.createElement("label")
                    const inputNome = document.createElement("input")
                    const inputData = document.createElement("input")
                    const inputHora = document.createElement("input")
                    const btnEditar = document.createElement("button")
                    const btnCancelar = document.createElement("button")
                    inputData.type = "date"
                    inputHora.type = "time"
                    labelNome.textContent = "Nome"
                    labelData.textContent = "Data"
                    labelHora.textContent = "Hora"
                    btnEditar.textContent = "Editar"
                    btnCancelar.textContent = "Cancelar"
                    modalEditar.append(labelNome)
                    modalEditar.append(inputNome)
                    modalEditar.append(labelData)
                    modalEditar.append(inputData)
                    modalEditar.append(labelHora)
                    modalEditar.append(inputHora)
                    modalEditar.append(btnEditar)
                    modalEditar.append(btnCancelar)
                    modal.classList.add("modal")
                    containerModal.classList.add("containerModal")
                    modalEditar.classList.add("modalEditar")
                    document.querySelector("main").append(modal)
                    containerModal.appendChild(modalEditar)
                    modal.appendChild(containerModal)
                    // cancelar evento
                    btnCancelar.addEventListener("click", () => {
                        modal.style.display = "none"
                    })
                    inputNome.value = agendamento.nome
                    inputData.value = agendamento.dia
                    inputHora.value = agendamento.hora
                    btnEditar.addEventListener("click", () => {
                        if (inputNome.value == "" || inputData.value == "" || inputHora == "") {
                            alert("preencha todos os campos")
                            return
                        }
                        const dataBR = formatarDataHoraBR(inputData.value, inputHora.value)
                        fetch(`/agendamento/${agendamento.id_agendamento}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                "id_agendamento": agendamento.id_agendamento, "nome": inputNome.value, "dia": new Date(inputData.value).getUTCDate(), "mes": new Date(inputData.value).getUTCMonth() + 1, "hora": inputHora.value, "minuto": new Date(inputData.value).getUTCMinutes(), "id_empresa": agendamento.id_empresa
                            })
                        })
                            .then(() => {
                                modalEditar.style.display = "none"
                                modalEditar.classList.remove("modal")
                                window.location.href = "/dashboard"
                            })

                    })
                })

                // Evento de remover agendamento
                btnRemover.addEventListener("click", async () => {
                    const response = await fetch(`/agendamento/${agendamento.id_agendamento}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    const resposta = await response.json()
                    if (resposta) {
                        container.remove()
                        alert(agendamento.nome + " removido com sucesso!!")
                        window.location.href = "/dashboard"
                    } else {
                        alert("Erro ao tentar deletar")
                    }
                })
            })
        })

        const ws = new WebSocket('ws://localhost:3000');
        ws.addEventListener('message', (event) => {
            const data = JSON.parse(event.data);

            if (data.userId && data.userId === userId) {
                console.log('Mensagem para o usuário:', data.message);
            } else if (data.companyId && data.companyId === companyId) {
                console.log('Mensagem para a empresa:', data.message);

                // Exibe a foto e o nome do cliente na seção de agendamentos
                const container = document.createElement('div');
                const nomeDiv = document.createElement('h2');
                const fotoDiv = document.createElement('img');

                nomeDiv.textContent = `Nome: ${data.clientInfo.nome}`;
                fotoDiv.src = data.clientInfo.imagemPerfil;
                fotoDiv.alt = 'Foto do cliente';

                container.appendChild(nomeDiv);
                container.appendChild(fotoDiv);

                empresasSection.append(container);
                totalAgendamentos++;
            }
        });
        function showNotification(title, message) {
            alert(`${title}\n${message}`);
        }

        ws.onmessage = (event) => {
            const data = JSON.parse(event.data);
            showNotification(data.title, data.message);

            const notificationIcon = document.getElementById('notification-icon');
            notificationIcon.innerHTML = `<i class="fa-solid fa-bell"></i>${data.notificationCount}`;
        }
    </script>

    <script defer src="fontawesome-free-6.4.2-web/js/all.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/responsivo.js"></script>
    </div>
</body>

</html>