<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsivo.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/agendamento.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="fontawesome-free-6.4.2-web/css/fontawesome.css">
    <title>Dashboard Empresa</title>
</head>
<style>
    .nenhumAgendamento {
        display: none;
    }

    .nenhumAgendamento img {
        border-radius: 10px;
    }
</style>

<body>
    <header>
        <a><img src="<%= user.imagemPerfil %>" alt="logo" id="perfil"></a>
        <!-- Menu da empresa -->
        <menu>
            <ul>
                <li>
                    <a href="">
                        <span id="menu"><i class="fa-solid fa-gear"></i></span>
                    </a>
                    <span id="menu-after" class="close-icon">X</span>
                </li>
                <li><a id="excluirConta">Excluir conta</a></li>
            </ul>
        </menu>
        <span id="hamb"><i class="fa-solid fa-bars"></i></span>
        <nav>
            <ul>
                <li><a href="#">Reservas</a></li>
                <li><a href="/agendamento" target="_self" title="Clica aqui para fazer o agendamento">Agendamento</a>
                </li>
                <li><a id="logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="modal">
            <div id="loading-spinner"></div>
        </div>
        <section class="agendamento">
            <h1 data-id-empresa="<%= user.id_empresa %>">
                Empresa
            </h1>
            <h2>
                <%= user.empresa %>
            </h2>
        </section>
        <section class="agendamento" style="background-color: rgba(128, 128, 128, 0.185);">
            <img style="width: 100%;  max-width: 450px;" src="<%=user.imagemEmpresa%>" alt="" srcset="">
        </section>
        <h1 style="text-align: center;">Seus agendamentos</h1>
        <section class="agendamentos" id="empresa-section">
            <div class="nenhumAgendamento">
                <p><a href="/agendamento" target="_self">Clica aqui para agendar</a>
                </p>
                <img src="img/bgCalendario.png" alt="Imagem Padrão ">
            </div>
        </section>

    </main>
    <script src="js/loading.js"></script>
    <script src="js/criarModal.js"></script>
    <script>
        const user = <%- JSON.stringify(user) %>;
        window.addEventListener('DOMContentLoaded', async () => {
            const userId = await <%- user.id_empresa %>;
            const nenhumAgendamento = document.querySelector('.nenhumAgendamento')
            const empresasSection = document.getElementById('empresa-section')
            const response = await fetch(`/agendamento/${userId}`);
            const agendamentos = await response.json();
            if (!agendamentos.length) {
                nenhumAgendamento.style.display = "block";
            } else {
                nenhumAgendamento.style.display = "none";
            }
            agendamentos.forEach((agendamento) => {
                const container = document.createElement('div');
                const nomeDiv = document.createElement('h2');
                const horaDiv = document.createElement('p');
                const dataDiv = document.createElement('p');
                const containerBotao = document.createElement("div")
                const btnEditar = document.createElement('button')
                const btnRemover = document.createElement('button')

                nomeDiv.textContent = "Serviço: " + agendamento.nome;
                horaDiv.textContent = "Hora: " + agendamento.hora;
                dataDiv.textContent = `Data: ${agendamento.dia}/${agendamento.mes}`;

                container.style.maxWidth = '300px'
                container.style.height = '300px'
                container.style.display = "flex"
                container.style.justifyContent = "center"
                container.style.alignItems = "center"
                container.style.flexDirection = 'column'
                container.style.width = '100%'
                container.appendChild(nomeDiv);
                container.appendChild(horaDiv);
                container.appendChild(dataDiv);
                containerBotao.appendChild(btnEditar);
                containerBotao.appendChild(btnRemover);
                container.appendChild(containerBotao)
                containerBotao.style.display = "inline-flex"
                empresasSection.append(container);
                btnEditar.textContent = 'Editar'
                btnRemover.textContent = 'Deletar'
                btnRemover.style.backgroundColor = "#eb2020"
                if (agendamento.status_reserva === 1) {
                    const notificao = document.createElement('h3')
                    const botaoAceitar = document.createElement("button")
                    botaoAceitar.textContent = "Aperte aqui"
                    notificao.textContent = "Você tem um pedido de agendamento!"
                    container.appendChild(notificao)
                    container.appendChild(botaoAceitar)
                    //criar um card se aceita ou nao
                    container.style.backgroundColor = 'var(--autor)'
                    container.style.color = 'white'

                    // Confirmar o agendamento
                    function confirmar() {
                        mostrarLoanding();
                        alert("Confirmado com sucesso")
                        const modalEditar = document.querySelector('.modalEditar')
                        modalEditar.style.display = "none"
                        modalEditar.classList.remove("modal")
                        esconderLoading();
                        window.location.href = "/dashboard"
                    }

                    // cancelar evento
                    function cancelar(agendamento) {
                        mostrarLoanding();
                        fetch('/reserva/negada', {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ "idAgendamento": agendamento })
                        })
                            .then(response => response.json())

                            .then(data => {
                                if (data) {
                                    container.style.backgroundColor = ''
                                    esconderLoading();
                                    alert("Cancelado com sucesso!")
                                    const modalEditar = document.querySelector('.modalEditar')
                                    modalEditar.style.display = "none"
                                    modalEditar.classList.remove("modal")
                                    window.location.href = "/dashboard"
                                }
                            })
                            .catch(error => {
                                console.error('Erro ao processar reserva negada:', error);
                            })

                    }

                    botaoAceitar.addEventListener("click", () => {
                        const botaoConfirmar = criarButton('Confirmar', 'click', confirmar)
                        const botaoCancelar = criarButton('Cancelar', 'click', () => cancelar(agendamento.id_agendamento));

                        criarModal('Você tem certeza?', botaoConfirmar, botaoCancelar, null, null)
                    })
                }

                // Evento editar o agendamento
                function editar(id_agendamento, id_empresa) {
                    const inputs = {
                        nome: document.getElementById('nome').value,
                        data: document.getElementById('data').value,
                        hora: document.getElementById('hora').value
                    };
                    if (inputs.nome == "" || inputs.data == "" || inputs.hora == "") {
                        alert("preencha todos os campos")
                        return
                    }
                    fetch(`/agendamento/${id_agendamento}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "id_agendamento": id_agendamento, "nome": inputs.nome, "dia": new Date(inputs.data).getUTCDate(), "mes": new Date(inputs.data).getUTCMonth() + 1, "hora": inputs.hora, "id_empresa": id_empresa
                        })
                    })
                        .then(() => {
                            const modalEditar = document.querySelector('.modalEditar')
                            modalEditar.style.display = "none"
                            modalEditar.classList.remove("modal")
                            window.location.href = "/dashboard"
                        })
                }
                // cancelar evento
                function cancelarModal() {
                    const modalEditar = document.querySelector('.modal')
                    modalEditar.style.display = "none"
                    modalEditar.classList.remove("modal")
                }

                const labelsTexto = ['Serviço', 'Data', 'Hora']
                const names = ['nome', 'data', 'hora']
                const inputsTipos = ['text', 'date', 'time']

                const labelsArray = labelsTexto.map((texto, index) => criarLabel(texto, names[index]));
                const inputsArray = inputsTipos.map((tipo, index) => criarInput(tipo, names[index]));

                btnEditar.addEventListener('click', () => {
                    criarModal(null, criarButton('Editar', 'click', () => editar(agendamento.id_agendamento, agendamento.id_empresa)), criarButton('Cancelar', 'click', cancelarModal), labelsArray, inputsArray)
                })

                // Evento de remover agendamento
                btnRemover.addEventListener("click", async () => {
                    const response = await fetch(`/agendamento/${agendamento.id_agendamento}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    const resposta = await response.json()
                    if (resposta) {
                        container.remove()
                        alert(agendamento.nome + " removido com sucesso!!")
                        window.location.href = "/dashboard"
                    } else {
                        alert("Erro ao tentar deletar")
                    }
                })
            })
        })

        const ws = new WebSocket('ws://localhost:3000');
        ws.addEventListener('message', (event) => {
            const data = JSON.parse(event.data);

            if (data.userId && data.userId === userId) {
                console.log('Mensagem para o usuário:', data.message);
            } else if (data.companyId && data.companyId === companyId) {
                console.log('Mensagem para a empresa:', data.message);

                // Exibe a foto e o nome do cliente na seção de agendamentos
                const container = document.createElement('div');
                const nomeDiv = document.createElement('h2');
                const fotoDiv = document.createElement('img');

                nomeDiv.textContent = `Nome: ${data.clientInfo.nome}`;
                fotoDiv.src = data.clientInfo.imagemPerfil;
                fotoDiv.alt = 'Foto do cliente';

                container.appendChild(nomeDiv);
                container.appendChild(fotoDiv);

                empresasSection.append(container);
            }
        });
        function showNotification(title, message) {
            alert(`${title}\n${message}`);
        }

        ws.onmessage = (event) => {
            const data = JSON.parse(event.data);
            showNotification(data.title, data.message);
        }
    </script>
    <script src="js/menuUsuarios.js"></script>
    <script defer src="fontawesome-free-6.4.2-web/js/all.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/responsivo.js"></script>

    </div>
</body>

</html>